:root {
  font-size: 12px;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
  --space-sm: 0.25em;
  --space: 0.5em;
  --space-lg: 0.75em;
  --space-xl: 1.25em;
  --space-2xl: 2em;
}

.text-center {
  text-align: center;
}

.font-soft {
  font-weight: 400;
  color: #777;
}

.horizontal-list :is(ul, ol) {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.horizontal-list li {
  margin-top: 0;
  margin-bottom: var(--space-sm);
}

.body {
  column-count: 2;
}

.personal-information .custom-block-body ul {
  justify-content: center;
  align-items: baseline;
}

.personal-information .custom-block-body ul > li:not(:last-child):after {
  margin-left: var(--space);
  margin-right: var(--space);
  content: "|";
}

.personal-information .custom-block-body a,
a:visited {
  color: blue;
}

.skills {
  margin: 0;
}

.skills ul li:not(:last-child):after {
  font-weight: 700;
  content: "•";
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

.space-between > .custom-block-body {
  display: flex;
  justify-content: space-between;
}

.space-between p {
  margin: 0;
}

li {
  margin-top: var(--space);
  margin-bottom: var(--space);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h2 {
  text-transform: uppercase;
  margin-bottom: var(--space-sm);
}

/* Section style */

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

/* All subheader descriptions margin e.g. Company & position */
h3 ~ h4 {
  margin-top: calc(-1 * var(--space-lg));
}

h4 ~ :is(p, div) {
  margin-top: calc(-1 * var(--space-xl));
}

h3 {
  margin-bottom: var(--space-lg);
}

ul,
ol {
  /* Space before bullet points */
  margin-top: calc(-1 * var(--space));
  padding-left: var(--space-2xl);
}
