:root {
  --font-base: 14px;
  --font-md: 16px;
  --font-lg: 22px;
  --space-sm: 0.25rem;
  --space: 0.5rem;
  --space-md: 0.75rem;
  --space-lg: 1rem;
  --space-xl: 1.25rem;
  --space-2xl: 2rem;

  font-size: var(--font-base);
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
}

.a4 {
  border: 1px solid #666;
  /* 3/8 inch */
  padding: 0.5in 0.375in;
  width: 210mm;
  height: 296mm;
}

@media print {
  .a4 {
    border: none;
  }
}

.text-center {
  text-align: center;
}

.font-soft {
  font-weight: 400;
  color: #777;
}

.custom-block-body {
  margin-bottom: var(--space-lg);
}

.horizontal-list ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-bottom: calc(-1 * var(--space-sm));
}

.horizontal-list li {
  margin-top: 0;
  margin-bottom: var(--space-sm);
}

.body > .custom-block-body {
  display: grid;
  gap: var(--space-2xl);
  grid-template-columns: 5fr 5fr;
}

.personal-information .custom-block-body ul {
  justify-content: center;
  align-items: baseline;
}

.personal-information .custom-block-body ul > li:not(:last-child):after {
  margin-left: var(--space);
  margin-right: var(--space);
  content: "|";
}

a,
a:visited {
  color: rgb(28, 123, 231);
}

.horizontal-list ul li:not(:last-child):after {
  font-weight: 700;
  content: "•";
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

.space-between > .custom-block-body {
  display: flex;
  justify-content: space-between;
}

.space-between p {
  margin: 0;
}

ul {
  /* Space before bullet points */
  padding-left: var(--space-xl);
  margin-bottom: var(--space-lg);
}

li {
  margin-top: var(--space);
  margin-bottom: var(--space-sm);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 0;
}

div,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  margin-bottom: var(--space-sm);
  margin-bottom: 0;
  font-size: var(--font-lg);
}

h2 {
  text-transform: uppercase;
  margin-top: var(--space-lg);
  margin-bottom: var(--space);
  font-size: var(--font-md);
}

h3 {
  margin-top: var(--space-md);
  margin-bottom: var(--space-sm);
  font-size: var(--font-base);
  font-weight: 500;
}

h4 {
  margin-bottom: var(--space-sm);
  font-size: var(--font-base);
  font-weight: 500;
}

p {
  margin-bottom: 0;
}
